@import "tailwindcss";

:root {
  --bg: #f9fafb;
  --card: #ffffff;
  --border: #e5e7eb;

  --text: #111827;
  --muted: #6b7280;

  --primary: #2563eb;
  --success: #16a34a;
  --warning: #d97706;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
